<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wust_hello.dao.student.CardMapper">
    <insert id="add">
        insert into card
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="stuId != null">stu_id,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="date != null">date,</if>
            <if test="valid != null">valid,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="stuId != null">#{stuId},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="date != null">#{date},</if>
            <if test="valid != null">#{valid},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <select id="selectCardGroup" resultType="com.wust_hello.dto.student.CardBueaty">
        select date, sum(valid) as valid
        from card
        where stu_id = #{userId}
        group by date
    </select>
    <select id="selectByDate" resultType="com.wust_hello.model.Card">
        select *
        from card
        where stu_id = #{userId}
          and date = #{date}
    </select>



</mapper>
